<!DOCTYPE html>
<html lang="fa IR">
    <head>
        <!--METADATA: Document Information-->
        <meta charset="UTF-8">
        <meta name="keywords" content="Tehran Coders,تهران کدرز,طراحی وب,برنامه‌نویسی,توسعهٔ نرم‌افزار">
        <meta name="description" content="تهران کدرز یک شرکت طراحی و توسعهٔ نرم‌افزارهای مبتنی بر وب بین‌المللی است">
        <meta name="subject" content="طراحی و توسعهٔ نرم‌افزارهای مبتنی بر وب">
        <meta http-equiv="refresht" content="36000">
        <title>Tehran Coders | تهران‌کدرز</title>
        <!--DEPENDENCIES: Cascading Stylesheet-->
        <link rel="short icon" href="assets/images/tehrancoders.svg">
        <link rel="stylesheet" href="lib/stylesheet/font-awesome.min.css">
        <link rel="stylesheet" href="dist/stylesheet/fonts.css">
        <link rel="stylesheet" href="dist/stylesheet/index.css">
        <link rel="stylesheet" href="dist/stylesheet/global.css">
    </head> 
    <body>
        <nav>
            <div id="navLogo">
                <img src="assets/images/tehrancoders.svg" alt="">
                <h1>تهران‌<span>کدرز</span></h1>
            </div>
            <ul id="navList">
                <li><a href="." target="_self">{{home}}</a></li>
                <li><a href="#about" target="_self">{{about}}</a></li>
                <li><a href="#services" target="_self">{{services}}</a></li>
                <li><a href="#partners" target="_self">{{partners}}</a></li>
                <li><a href="#techs" target="_self">{{techs}}</a></li>
                <li><a href="#members" target="_self">{{team}}</a></li>
            </ul>
            <div id="navContact">
                <i class="fas fa-phone"></i>&nbsp;
                <a href="#footer">{{callNow}}</a>
            </div>
        </nav>
        <header>
            <div class="headerText">
                <h1>{{title}}</h1>
                <p>{{subTitle}}</p>
            </div>
            <div class="headerImages">
                <img src="assets/images/image-server-24-7.gif" alt="">
                <img src="assets/images/image-computer-devices.png" alt="">
                <img src="assets/images/image-iran-based.gif" alt="">
            </div>
        </header>
        <section id="about" class="introduction">
            <div class="introText">
                <h1>{{title}}</h1>
                <p>{{paragraph1}}</p>
                <p>{{paragraph2}}</p>
            </div>
            <img src="assets/images/image-safe-system.svg" alt="" class="introImage">
        </section>
        <section id="services" class="services">
            <div class="textBox">
                <h1>{{title}}</h1>
                <p>{{subTitle}}</p>
            </div>
            <div class="serviceItemBox">
                <div class="serviceItem">
                    <i class="fas fa-code fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_webDev}}</h3>
                        <p>{{item_webDev_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fas fa-palette fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_ui}}</h3>
                        <p>{{item_ui_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fas fa-server fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_sysAdmin}}</h3>
                        <p>{{item_sysAdmin_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fab fa-wordpress fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_wp}}</h3>
                        <p>{{item_wp_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="far fa-comment-alt fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_consult}}</h3>
                        <p>{{item_consult_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fas fa-globe fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_localization}}</h3>
                        <p>{{item_localization_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fas fa-infinity fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_devops}}</h3>
                        <p>{{item_devops_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fab fa-android fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_android}}</h3>
                        <p>{{item_android_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fa fa-search fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_seo}}</h3>
                        <p>{{item_seo_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fas fa-fingerprint fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_cyber}}</h3>
                        <p>{{item_cyber_sub}}</p>
                    </div>
                </div>
                <div class="serviceItem">
                    <i class="fas fa-file-signature fa-3x"></i>
                    <div class="serviceTextBox">
                        <h3 class="serviceTitle">{{item_licensing}}</h3>
                        <p>{{item_licensing_sub}}</p>
                    </div>
                </div>
            </div>
        </section>
        <main>
            <section id="partners" class="companies">
                <div class="textBox">
                    <h1>{{title}}</h1>
                    <p>{{subTitle}}</p>
                </div>
                <ul class="companiesBox">
                    <li title="ولکیتو">
                        <a href="https://wolkito.com" target="_blank">
                            <img src="assets/images/companies/wolkito.png" alt="">
                        </a>
                    </li>
                    <li title="داده‌افزار روپل">
                        <a href="https://roupel.com" target="_blank">
                            <img src="assets/images/companies/roupel.png" alt="">
                        </a>
                    </li>
                </ul>
            </section>
            <section id="techs" class="technologies">
                <div class="textBox">
                    <h1>{{title}}</h1>
                    <p>{{subTitle}}</p>
                </div>
                <ul class="techBox">
                    <li><i class="fab fa-html5 fa-3x" title="HTML5"></i></li>
                    <li><i class="fab fa-css3-alt fa-3x" title="CSS3"></i></li>
                    <li><i class="fab fa-sass fa-3x" title="SASS"></i></li>
                    <li><i class="fab fa-less fa-3x" title="LESS"></i></li>
                    <li><i class="fab fa-js-square fa-3x" title="JavaScript"></i></li>
                    <li><i class="fab fa-vuejs fa-3x" title="Vue.js"></i></li>
                    <li><i class="fab fa-npm fa-3x" title="Node Package Manager"></i></li>
                    <li><i class="fab fa-react fa-3x" title="React.js"></i></li>
                    <li><i class="fab fa-python fa-3x" title="Python"></i></li>
                    <li><i class="fab fa-node-js fa-3x" title="Node.js"></i></li>
                    <li><i class="fab fa-wordpress fa-3x" title="WordPress"></i></li>
                    <li><i class="fab fa-yoast fa-3x" title="YoaseSEO (WordPress Plugin)"></i></li>
                    <li><i class="fab fa-php fa-3x" title="PHP"></i></li>
                    <li><i class="fab fa-linux fa-3x" title="GNU/Linux"></i></li>
                    <li><i class="fab fa-ubuntu fa-3x" title="Ubuntu"></i></li>
                    <li><i class="fab fa-docker fa-3x" title="Docker"></i></li>
                    <li><i class="fab fa-git-square fa-3x" title="Git"></i></li>
                    <li><i class="fab fa-gitlab fa-3x" title="GitLab"></i></li>
                </ul>
            </section>
        </main>
        <section id="members" class="teamMembers">
            <div class="textBox">
                <h1>{{title}}</h1>
                <p>{{subTitle}}</p>
            </div>
            <div class="memberBox">
                <div class="member">
                    <a href="https://linkedin.com/in/sinaaghighi" target="_blank">
                        <img src="assets/images/members/member-sina.jpg">
                    </a>
                    <h2>سینا عقیقی</h2>
                    <span>بنیان‌گذار و مدیرعامل</span>
                    <p>مدیر و توسعه‌دهندهٔ وردپرس</p>
                    <p>توسعه‌دهندهٔ فرانت‌اند</p>
                </div>
                <div class="member">
                    <a href="https://linkedin.com/in/danialbehzadi" target="_blank">
                        <img src="assets/images/members/member-danial.jpg">
                    </a>
                    <h2>دانیال بهزادی</h2>
                    <span>مشاور و ارشد فنی</span>
                    <p>مهندس و کارشناس دواپس</p>
                    <p>برنامه‌نویس پایتون</p>
                </div>
                <div class="member">
                    <a href="https://linkedin.com/in/javadnikbakht" target="_blank">
                        <img src="assets/images/members/member-javad.jpg">
                    </a>
                    <h2>جواد نیکبخت</h2>
                    <span>توسعه‌دهندهٔ وب</span>
                    <p>برنامه‌نویس پایتون</p>
                    <p>توسعه‌دهندهٔ جنگو/فلسک</p>
                </div>
                <div class="member">
                    <a href="https://www.linkedin.com/in/mohammad-m-moniri-303a1b1a1/" target="_blank">
                        <img src="assets/images/members/member-mohammad.jpg">
                    </a>
                    <h2>محمد منیری</h2>
                    <span>توسعه‌دهندهٔ وب</span>
                    <p>برنامه‌نویس پایتون</p>
                    <p>توسعه‌دهندهٔ جنگو/فلسک</p>
                </div>
            </div>
        </section>
        <footer id="footer">
            <section>
                <h3>{{footerTHCoders}}</h4>
                <ul class="container">
                    <li><a href="#about">{{footerTHCoders_about}}</a></li>
                    <li><a href="#services">{{footerTHCoders_services}}</a></li>
                    <li>
                        <a href=".">
                            {{footerTHCoders_careers}}
                            <span class="inactive">{{footerTHCoders_careers_inactive}}</span>
                            <span class="active">{{footerTHCoders_careers_active}}</span>
                        </a>
                    </li>
                    <li><a href="#partners">{{footerTHCoders_partners}}</a></li>
                </ul>
            </section>
            <section>
                <h3>{{footerContact}}</h4>
                <ul class="container">
                    <li><a href="mailto:info@tehrancoders.com"><i class="fas fa-envelope"></i> {{footerContactEmail}}</a></li>
                    <li><a href="tel:+989391466253"><i class="fas fa-phone"></i> {{footerContactPhone}}</a></li>
                </ul>
            </section>
            <section>
                <h3>{{footerSocial}}</h4>
                <ul class="container">
                    <li><a href="https://linkedin.com/company/tehrancoders" target="_blank"><i class="fab fa-linkedin"></i> {{footerSocial_linkedin}}</a></li>
                    <li><a href="https://gitlab.gnome.org/sinaaghighi/tehran-coders" target="_blank"><i class="fab fa-gitlab"></i> {{footerSocial_gitlab}}</a></li>
                    <li><a href="https://instagram.com/tehrancoders" target="_blank"><i class="fab fa-instagram"></i> {{footerSocial_instagram}}</a></li>
                    <li><a href="https://persadon.com" target="_blank"><i class="fab fa-mastodon"></i> {{footerSocial_mastodon}}</a></li>
                    <li><a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i> {{footerSocial_twitter}}</a></li>
                </ul>
            </section>
            <section>
                <h3>{{footerLicense}}</h3>
                <div class="textContainer">
                    <p>{{footerLicenseDescription}}</p>
                    <a href="https://gitlab.gnome.org/sinaaghighi/tehran-coders" target="_blank">
                        <img src="assets/images/license.png" alt="">
                    </a>
                </div>
            </section>
        </footer>
        <!--DEPENDENCIES: JavaScript-->
        <script src="lib/javascript/font-awesome.min.js"></script>
        <script src="lib/javascript/vue.global.js"></script>
        <script src="dist/javascript/global.js"></script>
        <script src="dist/javascript/index.js"></script>
    </body>
</html>