@import 'variables';
@import 'reset';
@import 'mixin';

body {
    direction: rtl;
    background: #ffffff;
    color: #000000;
    font-family: $fontLight;

    nav {
        background: #ffffff;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        box-shadow: 1px 1px 20px #888888;
        padding: 0 0.35em;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        max-height: 4.5em;

        #navLogo {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;

            img {
                max-width: 4.125em;
            }

            h1 {
                @include transition(0.4s ease-out);
                font-size: 2em;
                color: #0067a5;

                span {
                    @include transition(0.4s ease-out);
                    color: #00a693;
                }

                &:hover {
                    @include transition(0.4s ease);
                    color: #00a693;
                    cursor: pointer;

                    span {
                        @include transition(0.4s ease);
                        color: #0067a5;
                    }
                }
            }
        }

        #navList {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            list-style-type: none;

            li {
                @include transition(0.5s ease-out);
                border-bottom: 3px solid #ffffff;
                font-family: $fontMedium;
                font-size: 1.125em;
                padding: 1.125em 0.4em;
                cursor: pointer;

                a {
                    @include transition(0.5s ease-out);
                    color: #111111;
                }

                &:hover {
                    @include transition(0.5s ease);
                    border-bottom: 3px solid #0067a5;
                    font-family: $fontMedium;
    
                    a {
                        @include transition(0.5s ease);
                        color: #0067a5;
                    }
                }
            }
        }

        #navContact {
            @include transition(0.5s ease);
            background: #ffffff;
            border-bottom: 3px solid #ffffff;
            color: #00a693;
            padding: 1.125em 0.225em;
            font-family: $fontBold;
            font-size: 1.125em;

            &:hover {
                @include transition(0.5s ease);
                background: #00a693;
                border-bottom: 3px solid #008071;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}