@import 'variables';
@import 'reset';
@import 'mixin';

body {
    font-family: $fontLight;

    header {
        background: #ffffff;
        color: #111111;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 8em 1em 5em 1em;
        margin-top: 4.5em;

        .headerText {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 2.5em;
            }

            p {
                font-size: 1.125em;
                margin-top: 1em;
            }
        }

        .headerImages {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: baseline;
            max-width: 100%;
        }
    }

    .introduction {
        background: #f2f2f2;
        color: #111111;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        padding: 8em 1em;

        .introText {
            display: flex;
            flex-flow: column wrap;
            justify-content: baseline;
            align-items: right;
            max-width: 38em;
            margin: 0 2em;

            h1 {
                font-size: 2.125em;
            }

            p {
                font-family: $fontThin;
                font-size: 1.25em;
                margin-top: 1em;
            }
        }

        .introImage {
            width: 28em;
            margin: 0 2em;
        }
    }

    .services {
        background: #e6e6e6;
        padding: 10em 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .textBox {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 2.125em;
            }

            p {
                font-family: $fontThin;
                font-size: 1.25em;
                margin-top: 0.25em;
            }
        }

        .serviceItemBox {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-top: 2em;

            .serviceItem {
                @include transition(0.45s ease);
                background: #0067a5;
                color: #ffffff;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                padding: 2em 0.5em;
                margin: 0.1em;
                width: 16em;

                .serviceTextBox {
                    display: flex;
                    flex-flow: column;
                    justify-content: baseline;
                    align-items: flex-start;
                    border-right: 4px solid #00a693;
                    margin: 0 1em 0 0;
                    padding: 0 1em 0 0;

                    p {
                        font-family: $fontThin;
                        font-size: 0.9em;
                    }
                }

                &:hover {
                    @include transition(0.45s ease);
                    background: #003f66;
                    cursor: pointer;
                    z-index: 999;
                }
            }
        }
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: stretch;

        .technologies {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            background: #00a693;
            color: #ffffff;
            padding: 12em 0;
            width: 50%;

            .textBox {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;

                h1 {
                    font-size: 2.125em;
                }

                p {
                    font-family: $fontThin;
                    font-size: 1.25em;
                    margin-top: 0.25em;
                }
            }

            .techBox {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin: 3em 1em;

                li {
                    @include transition(0.5s ease);
                    @include transform(scale(1, 1));
                    margin: 0.5em;
                    opacity: 0.7;

                    &:hover {
                        @include transition(0.5s ease);
                        @include transform(scale(1.2, 1.2));
                        cursor: pointer;
                        opacity: 1;
                    }
                }
            }
        }

        .companies {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;
            background: #ffffff;
            color: #111111;
            padding: 12em 0;
            width: 50%;

            .textBox {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;

                h1 {
                    font-size: 2.125em;
                }

                p {
                    font-family: $fontThin;
                    font-size: 1.25em;
                    margin-top: 0.25em;
                }
            }

            .companiesBox {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                margin: 3em 1em;

                li {
                    @include transition(0.5s ease);
                    margin: 0.5em;

                    img {
                        height: 4em;
                    }

                    &:hover {
                        @include transition(0.5s ease);
                        @include transform(scale(1.125, 1.125));
                        cursor: pointer;
                        z-index: 10;
                    }
                }
            }
        }
    }

    .teamMembers {
        background: #dddddd;
        padding: 8em 0 10em 0;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .textBox {
            display: flex;
            flex-flow: column wrap;
            justify-content: center;
            align-items: center;

            h1 {
                font-size: 2.125em;
            }

            p {
                font-family: $fontThin;
                font-size: 1.25em;
                margin-top: 0.25em;
            }
        }

        .memberBox {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-top: 1em;

            .member {
                @include transition(0.5s ease);
                @include transform(scale(1, 1));
                background: #ffffff;
                border-radius: 0.35em;
                color: #000000;
                padding: 0 0 2em 0;
                width: 12em;
                margin: 0.75em;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                img {
                    @include transition(0.5s ease);
                    border-bottom: 0.5em solid #0067a5;
                    border-radius: 0.35em 0.35em 0 0;
                    max-width: 100%;
                }

                h2 {
                    @include transition(0.5s ease);
                    color: #0067a5;
                }

                span {
                    font-family: $fontThin;
                    font-size: 1em;
                    margin: 0 0 0.65em 0;
                    color: #777777;
                }

                p {
                    font-family: $fontThin;
                    font-size: 14px;
                }

                &:hover {
                    @include transition(0.5s ease);
                    @include transform(scale(1.03, 1.03));
                    cursor: pointer;
                    z-index: 30;

                    img {
                        @include transition(0.5s ease);
                        border-bottom: 0.5em solid #003f66;
                        filter: grayscale(0);
                    }

                    h2 {
                        @include transition(0.5s ease);
                        color: #003f66;
                    }
                }
            }
        }
    }

    footer {
        background: #111111;
        color: #ffffff;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: stretch;
        padding: 3em 0;

        section {
            border: 1px solid #222222;
            border-radius: 5px;
            padding: 2em 1em;
            width: 18em;

            .textContainer {
                text-align: center;

                p {
                    text-align: justify;
                    margin-top: 1em;
                    font-size: 1em;
                }
    
                img {
                    max-width: 8em;
                    margin-top: 1em;
                }
            }

            .container {
                margin-top: 1em;

                li {
                    font-family: $fontThin;
                    font-size: 1em;
                    margin: 0.1em 0;

                    a {
                        @include transition(0.5s ease);
                        display: inline-block;
                        opacity: 0.5;

                        .inactive {
                            /*displaye: none;*/
                            background: #9b1b1b;
                            border-radius: 2px;
                            padding: 1px 3px;
                            font-size: 0.8em;
                        }

                        .active {
                            display: none;
                            background: #1e6408;
                            border-radius: 2px;
                            padding: 1px 3px;
                            font-size: 0.8em;
                        }

                        &:hover {
                            @include transition(0.5s ease);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}