html {
    scroll-behavior: smooth;
}

body,
header,
main,
section,
div,
footer {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
i,
a,
hr,
strong,
ul,
ol,
li,
button {
    text-decoration: none;
    list-style-type: none;
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $fontBold;
}